<html>
<head>
	<title>Ice Breaker | Devcraft</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="/static/js/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/pie.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
	<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="all" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" media="all" />
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto|Raleway:600,400,200' rel='stylesheet' type='text/css'>

	<style>

	</style>
</head>

<body>
	<div class="container" style="width:80%;margin:0 auto;">
		<div class="col-md-12" style="margin-top:10px;">
			<img src="/static/img/logo-blue.png" class="pull-left" height="50px" style="margin-top:7px;"/>
			<img src="/static/img/c4a.png" class="pull-left" height="50px">
		</div>
		<div class="col-md-12">
			<center><h1 class="question">Tell us what you think about Manchester United.</h1></center>
		</div>
		<div class="col-md-4 bar">
			<div class="donut" id="bar1"></div>
			<div class="divider green"></div>
			<div class="tweets" id="positive-tweets">
			</div>
		</div>
		<div class="col-md-4 bar">
			<div class="donut"id="bar2"></div>
			<div class="divider orange"></div>
			<div class="tweets" id="neutral-tweets">
			</div>
		</div>
		<div class="col-md-4 bar">
			<div class="donut" id="bar3"></div>
			<div class="divider red"></div>
			<div class="tweets" id="negative-tweets">
			</div>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="/static/js/custom.js"></script>
</body>
</html>
