.bar {
    height:100%;
}
.green {
    background:#26A65B;
}
.red {
    background:#F22613;
}
.orange {
    background:#F89406;
}
.donut {
    width: 100%;
    height: 500px;
    font-size: 11px;
}
.divider {
    height:2px;
    width:100%;
}
body {background-color:#fff;}
.tweets {
    overflow-y:scroll;
}
.tweet {
    border-bottom: 1px dashed #ccc;
    height:auto;
    font-size: 24px;
    padding:10px;
    font-family:"raleway";
}
.question {padding:20px 0px;}

.amcharts-chart-div svg {
    position:relative !important;
    height:100% !important;
}
.amcharts-chart-div {
    height:300px !important ;
}